<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
    <title>Crypt Coin Staking | Secure Cyrpto Staking Organisation</title>

    {% load static %}
    <!-- Favicon -->
    <link rel="icon" href="{% static 'content/site/img/core-img/favicon.png' %}">

    <!-- Core Stylesheet -->
    <link rel="stylesheet" href="{% static 'content/site/css/style.css' %}">

</head>

<body>
    <!-- ##### Preloader ##### -->
    <div id="preloader">
        <i class="circle-preloader"></i>
    </div>

    <!-- ##### Header Area Start ##### -->
    <header class="header-area">

        <!-- Navbar Area -->
        <div class="cryptos-main-menu">
            <div class="classy-nav-container breakpoint-off">
                <div class="container">
                    <!-- Menu -->
                    <nav class="classy-navbar justify-content-between" id="cryptosNav">

                        <!-- Logo -->
                        <a class="nav-brand" href="{% url 'home' %}"><img
                                src="{% static 'content/site/img/core-img/logo.png' %}" alt="" width="200"
                                height="110"></a>

                        <!-- Navbar Toggler -->
                        <div class="classy-navbar-toggler">
                            <span class="navbarToggler"><span></span><span></span><span></span></span>
                        </div>

                        <!-- Menu -->
                        <div class="classy-menu">

                            <!-- close btn -->
                            <div class="classycloseIcon">
                                <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                            </div>

                            <!-- Nav Start -->
                            <div class="classynav">
                                <ul>
                                    <li><a href="{% url 'home' %}">Home</a></li>
                                    <li><a href="{% url 'about-us' %}">About Us</a></li>
                                    <li><a href="{% url 'live-stakes' %}">Live Feed</a></li>
                                    <li><a href="{% url 'crypto-rates' %}">Crypto Rates</a></li>
                                    <li><a href="{% url 'contact-us' %}">Contact Us</a></li>
                                </ul>

                                <!-- Newsletter Form -->
                                <div class="header-newsletter-form">
                                    {% if user.is_authenticated %}
                                    <a href="{% url 'dashboard' %}" class="btn btn-warning m-2">Dashboard</a>
                                    {% else %}
                                    <a href="{% url 'login' %}" class="btn btn-info m-2">Login</a>
                                    <a href="{% url 'create-account' %}" class="btn btn-warning m-2">Create Account</a>
                                    {% endif %}
                                </div>

                            </div>
                            <!-- Nav End -->
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ##### Header Area End ##### -->

    <!-- ##### Hero Area Start ##### -->
    <section class="hero-area">
        <div class="hero-slides owl-carousel">

            <!-- Single Hero Slide -->
            <div class="single-hero-slide">
                <div class="container h-100">
                    <div class="row h-100 align-items-center">
                        <div class="col-12 col-md-7">
                            <div class="hero-slides-content">
                                <h2 data-animation="fadeInUp" data-delay="100ms">Take a step into the <span>Crypto
                                        World</span></h2>
                                <h6 data-animation="fadeInUp" data-delay="400ms">Our main objective is to offer a
                                    comprehensive platform to investors and project owners for proof of stake coins,
                                    master node coins and other relevant services.</h6>
                                <a href="{% url 'about-us' %}" class="btn cryptos-btn" data-animation="fadeInUp"
                                    data-delay="700ms">Read
                                    More</a>
                            </div>
                        </div>
                        <div class="col-12 col-md-5">
                            <div class="hero-slides-thumb" data-animation="fadeInUp" data-delay="1000ms">
                                <img src="{% static 'content/site/img/bg-img/bg-2.png' %}" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Single Hero Slide -->
            <div class="single-hero-slide">
                <div class="container h-100">
                    <div class="row h-100 align-items-center">
                        <div class="col-12 col-md-7">
                            <div class="hero-slides-content">
                                <h2 data-animation="fadeInUp" data-delay="100ms">Earn<span> 10% in CRYPTO</span></h2>
                                <h6 data-animation="fadeInUp" data-delay="400ms">Go to profile and share your link with loved ones and get upto 12% of their initial investment. To withdraw the bonus compound the amount for at least 1hr and you'll be able to withdraw at ant time. Happy earning.</h6>
                                <a href="{% url 'about-us' %}" class="btn cryptos-btn" data-animation="fadeInUp"
                                    data-delay="700ms">Read
                                    More</a>
                            </div>
                        </div>
                        <div class="col-12 col-md-5">
                            <div class="hero-slides-thumb" data-animation="fadeInUp" data-delay="1000ms">
                                <img src="{% static 'content/site/img/bg-img/bg-2.png' %}" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <!-- Single Hero Slide -->
            <div class="single-hero-slide">
                <div class="container h-100">
                    <div class="row h-100 align-items-center">
                        <div class="col-12 col-md-7">
                            <div class="hero-slides-content">
                                <h2 data-animation="fadeInUp" data-delay="100ms">Stake and Earn daily from the
                                    <span>Crypto
                                        World</span>
                                </h2>
                                <h6 data-animation="fadeInUp" data-delay="400ms">We are the leading staking service
                                    provider for blockchain projects. We know staking, start today and earn daily
                                    interest.</h6>
                                <a href="{% url 'about-us' %}" class="btn cryptos-btn" data-animation="fadeInUp"
                                    data-delay="700ms">Read
                                    More</a>
                            </div>
                        </div>
                        <div class="col-12 col-md-5">
                            <div class="hero-slides-thumb" data-animation="fadeInUp" data-delay="1000ms">
                                <img src="{% static 'content/site/img/bg-img/bg-2.png' %}" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Hero Area End ##### -->

    <!-- ##### Course Area Start ##### -->
    <div class="cryptos-feature-area section-padding-100-0">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="section-heading text-center mx-auto">
                        <h3>Let’s change <br><span>the world</span> together</h3>
                        <p>We operate validators on these projects. Crypto holders can stake with us to help secure
                            these
                            networks and earn staking interest. Join the staking ecosystem today with Crypto Coin
                            Staking.</p>
                    </div>
                </div>
            </div>

            <div class="row">
                <!-- Single Course Area -->
                <div class="col-12 col-md-6 col-xl-3">
                    <div class="single-feature-area mb-100 text-center">
                        <i class="icon-wallet"></i>
                        <h4>Fast &amp; Easy <br> Withdrawals</h4>
                        <p>Smooth, Instant and fully automated transactions. </p>
                        <a href="{% url 'about-us' %}" class="btn cryptos-btn">Read More</a>
                    </div>
                </div>

                <!-- Single Course Area -->
                <div class="col-12 col-md-6 col-xl-3">
                    <div class="single-feature-area mb-100 text-center">
                        <i class="icon-exchange"></i>
                        <h4>Daily <br> Interests</h4>
                        <p>Earn {{rate}}% interest Hourly and upto {{daily}}% Daily</p>
                        <a href="{% url 'about-us' %}" class="btn cryptos-btn">Read More</a>
                    </div>
                </div>

                <!-- Single Course Area -->
                <div class="col-12 col-md-6 col-xl-3">
                    <div class="single-feature-area actives mb-100 text-center">
                        <i class="icon-bitcoin"></i>
                        <h4>Up to 13 coins <br> accepted</h4>
                        <p>We support Bitcoin, Litecoin, Dogecoin and more.</p>
                        <a href="{% url 'about-us' %}" class="btn cryptos-btn">Read More</a>
                    </div>
                </div>

                <!-- Single Course Area -->
                <div class="col-12 col-md-6 col-xl-3">
                    <div class="single-feature-area mb-100 text-center">
                        <i class="icon-safebox"></i>
                        <h4>100% Secure <br> Transactions</h4>
                        <p>End to end encryption for secure transactions</p>
                        <a href="{% url 'about-us' %}" class="btn cryptos-btn">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Course Area End ##### -->

    <!-- ##### About Area Start ##### -->
    <section class="cryptos-about-area">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-12 col-md-6">
                    <div class="about-thumbnail mb-100">
                        <img src="{% static 'content/site/img/bg-img/about.png' %}" alt="">
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="about-content mb-100">
                        <div class="section-heading">
                            <h3>Learn more about<br><span>Crypto coin staking</span></h3>
                            <h5>Our platform is a secure, fully compliant with Google 2FA security where
                                entrepreneurs can list their best coins to stake for more than 20k community members and
                                at the same time, we strive to bring first hand benefits to our members in
                                terms of special pricing, rewards, interests etc. As an investor, you will get robust
                                information
                                that can play a critical role in making the right decision to pick the best proof of
                                stake or masternode coin. Client centricity plays a vital role in client success and our
                                15 qualified team members are always there to assist you with your queries and concerns
                                in timely manner.</h5>
                            <a href="{% url 'about-us' %}" class="btn cryptos-btn mt-30">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### About Area End ##### -->

    <!-- ##### Currency Area Start ##### -->
    <section class="currency-calculator-area section-padding-100 bg-img bg-overlay"
        style="background-image: url(static/content/site/img/bg-img/bg-2.jpg);">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-heading text-center white mx-auto">
                        <h3 class="mb-4">Crypto coin staking</h3>
                        <h5 class="mb-2">Currently, we have the best masternode coins to invest in, and the best staking
                            coins that offer low risk which makes POS cryptocurrency an interesting area to everyone.
                            Crypto coin staking does not only list the coins but personalize the support based on individual
                            needs. There are thousand’s of Instant Nodes, Masternodes and close to a hundred Staking
                            Pools offering various benefits to our community members. Our automated rewards payment
                            system pays frequent rewards for instance proof of stake and masternode coins.</h5>

                    </div>
                </div>
            </div>            
        </div>
    </section>
    <!-- ##### Currency Area End ##### -->

    <!-- ##### Blog Area Start ##### -->
    <section class="cryptos-blog-area section-padding-100">
        <div class="container">
            <div class="row align-items-center">
                
                <div class="col-12">
                    <div class="cryptos-prices-table">

                        <!-- Single Price Table -->
                        <div class="single-price-table d-flex align-items-center justify-content-between">
                            <div class="p-content d-flex align-items-center">
                                <span>01</span>
                                <img src="{% static 'content/site/img/bg-img/bitcoin.png' %}" alt="">
                                <p>Bitcoin <span>BTC</span></p>
                            </div>
                            <div class="price increase">
                                <p>${{price.bitcoin.usd}}</p>
                            </div>
                        </div>

                        <!-- Single Price Table -->
                        <div class="single-price-table d-flex align-items-center justify-content-between">
                            <div class="p-content d-flex align-items-center">
                                <span>02</span>
                                <img src="{% static 'content/site/img/bg-img/ethereum.png' %}" alt="">
                                <p>Ethereum <span>ETH</span></p>
                            </div>
                            <div class="price increase">
                                <p>${{price.ethereum.usd}}</p>
                            </div>
                        </div>

                        <!-- Single Price Table -->
                        <div class="single-price-table d-flex align-items-center justify-content-between">
                            <div class="p-content d-flex align-items-center">
                                <span>03</span>
                                <img src="{% static 'content/site/img/bg-img/bitcoin-cash.png' %}" alt="">
                                <p>Bitcoin Cash <span>BCH</span></p>
                            </div>
                            <div class="price increase">
                                <p>${{bch}}</p>
                            </div>
                        </div>

                        <!-- Single Price Table -->
                        <div class="single-price-table d-flex align-items-center justify-content-between">
                            <div class="p-content d-flex align-items-center">
                                <span>04</span>
                                <img src="{% static 'content/site/img/bg-img/ripple.png' %}" alt="">
                                <p>Ripple <span>XRP</span></p>
                            </div>
                            <div class="price increase">
                                <p>${{price.ripple.usd}}</p>
                            </div>
                        </div>

                        <!-- Single Price Table -->
                        <div class="single-price-table d-flex align-items-center justify-content-between">
                            <div class="p-content d-flex align-items-center">
                                <span>05</span>
                                <img src="{% static 'content/site/img/bg-img/litecoin.png' %}" alt="">
                                <p>Litecoin <span>LTC</span></p>
                            </div>
                            <div class="price increase">
                                <p>${{price.litecoin.usd}}</p>
                            </div>
                        </div>


                        <!-- Single Price Table -->
                        <div class="single-price-table d-flex align-items-center justify-content-between">
                            <div class="p-content d-flex align-items-center">
                                <span>06</span>
                                <img src="{% static 'content/site/img/bg-img/stellar.png' %}" alt="">
                                <p>Stellar <span>XLM</span></p>
                            </div>
                            <div class="price increase">
                                <p>${{price.stellar.usd}}</p>
                            </div>
                        </div>

                        <!-- Single Price Table -->
                        <div class="single-price-table d-flex align-items-center justify-content-between">
                            <div class="p-content d-flex align-items-center">
                                <span>07</span>
                                <img src="{% static 'content/site/img/bg-img/tether-usdt-logo.png' %}" alt="">
                                <p>Tether <span>USDT</span></p>
                            </div>
                            <div class="price increase">
                                <p>${{price.tether.usd}}</p>
                            </div>
                        </div>

                        <!-- Single Price Table -->
                        <div class="single-price-table d-flex align-items-center justify-content-between">
                            <div class="p-content d-flex align-items-center">
                                <span>08</span>
                                <img src="{% static 'content/site/img/bg-img/binance-usd-busd-logo.png' %}" alt="">
                                <p>Binancecoin <span>BNB</span></p>
                            </div>
                            <div class="price increase">
                                <p>${{price.binancecoin.usd}}</p>
                            </div>
                        </div>

                        <!-- Single Price Table -->
                        <div class="single-price-table d-flex align-items-center justify-content-between">
                            <div class="p-content d-flex align-items-center">
                                <span>09</span>
                                <img src="{% static 'content/site/img/bg-img/dash-dash-logo.png' %}" alt="">
                                <p>Dash <span>DASH</span></p>
                            </div>
                            <div class="price increase">
                                <p>${{price.dash.usd}}</p>
                            </div>
                        </div>

                        <!-- Single Price Table -->
                        <div class="single-price-table d-flex align-items-center justify-content-between">
                            <div class="p-content d-flex align-items-center">
                                <span>10</span>
                                <img src="{% static 'content/site/img/bg-img/dogecoin-doge-logo.png' %}" alt="">
                                <p>Dogecoin <span>DOGE</span></p>
                            </div>
                            <div class="price increase">
                                <p>${{price.dogecoin.usd}}</p>
                            </div>
                        </div>

                        <!-- Single Price Table -->
                        <div class="single-price-table d-flex align-items-center justify-content-between">
                            <div class="p-content d-flex align-items-center">
                                <span>11</span>
                                <img src="{% static 'content/site/img/bg-img/polkadot-new-dot-logo.png' %}" alt="">
                                <p>Polkadot <span>DOT</span></p>
                            </div>
                            <div class="price increase">
                                <p>${{price.polkadot.usd}}</p>
                            </div>
                        </div>

                        <!-- Single Price Table -->
                        <div class="single-price-table d-flex align-items-center justify-content-between">
                            <div class="p-content d-flex align-items-center">
                                <span>12</span>
                                <img src="{% static 'content/site/img/bg-img/usd-coin-usdc-logo.png' %}" alt="">
                                <p>USDC <span>USDC</span></p>
                            </div>
                            <div class="price increase">
                                <p>${{usdc}}</p>
                            </div>
                        </div>

                        <!-- Single Price Table -->
                        <div class="single-price-table d-flex align-items-center justify-content-between">
                            <div class="p-content d-flex align-items-center">
                                <span>13</span>
                                <img src="{% static 'content/site/img/bg-img/cosmos-atom-logo.png' %}" alt="">
                                <p>Cosmos <span>ATOM</span></p>
                            </div>
                            <div class="price increase">
                                <p>${{price.cosmos.usd}}</p>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>

        <!-- Newsletter Area -->
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="newsletter-area mt-100">
                        <div class="section-heading text-center mx-auto">
                            <h3>Subscribe to our <span>Newsletter</span></h3>
                            <h6>Subscribe to our newsletter and get daily tips, signals and updates</h6>
                        </div>
                        <form action="" method="post">
                            {% csrf_token %}
                            {{form.email}}
                            <button type="submit">Subscribe</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Blog Area End ##### -->

    <!-- ##### Footer Area Start ##### -->
    <footer class="footer-area">
        <!-- Main Footer Area -->
        <div class="main-footer-area section-padding-100-0 bg-img bg-overlay"
            style="background-image: url({% static 'content/site/img/bg-img/bg-1.jpg' %});">
            <div class="container">
                <div class="row">

                    <!-- Footer Widget Area -->
                    <div class="col-12 col-sm-6 col-lg-4">
                        <div class="footer-widget mb-100">
                            <div class="widget-title">
                                <a href="#"><img src="{% static 'content/site/img/core-img/logo2.png' %}" alt=""></a>
                            </div>
                            <p>Established in early 2017 in Germany, Crypto coin staking launched with an objective to
                                offer a
                                comprehensive platform to investors and project owners for proof of stake coins,
                                masternode coins and other relevant services. Crypto coin staking hosts the best
                                masternode coins
                                and staking coins after thorough analysis.</p>
                            <div class="footer-social-info">
                                <a href="https://www.facebook.com/cryptocoinstaking"><i class="fa fa-facebook"></i></a>
                                <a href="https://www.twitter.com/cryptocoinstaking"><i class="fa fa-twitter"></i></a>
                                <a href="https://www.linkedin.com/company/cryptocoinstaking"><i class="fa fa-linkedin"></i></a>
                                <a href="https://www.instagram.com/cryptocoinstaking"><i class="fa fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>

                    <!-- Footer Widget Area -->
                    <div class="col-12 col-sm-6 col-lg-4">
                        <div class="footer-widget mb-100">
                            <div class="widget-title">
                                <h6>Quick Links</h6>
                            </div>
                            <nav>
                                <ul class="useful-links justify-content-between flex-wrap">
                                    <li><a href="{% url 'home' %}">Home</a></li>
                                    <li><a href="{% url 'about-us' %}">About us</a></li>
                                    <li><a href="{% url 'contact-us' %}">Contact us</a></li>
                                    <li><a href="{% url 'live-stakes' %}">Live feed</a></li>
                                    <li><a href="{% url 'crypto-rates' %}">cryptocurrency rates</a></li>
                                   
                                </ul>
                            </nav>
                        </div>
                       
                    </div>

                    <!-- Footer Widget Area -->
                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="footer-widget mb-100">
                            <div class="widget-title">
                                <h6>More Links</h6>
                            </div>
                            <nav>
                                <ul class="useful-links justify-content-between flex-wrap">                                   
                                    <li><a href="{% url 'login' %}">Login</a></li>
                                    <li><a href="{% url 'create-account' %}">Register</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Bottom Footer Area -->
        <div class="bottom-footer-area">
            <div class="container h-100">
                <div class="row h-100 align-items-center justify-content-center">
                    <div class="col-12">
                        <p>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            Copyright &copy;
                            {% now 'Y' %} Crypto Coin Staking | All Rights Reserved.
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- ##### Footer Area Start ##### -->

    <!--Start of Tawk.to Script-->
    <script type="text/javascript">
        var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
        (function(){
        var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
        s1.async=true;
        s1.src='https://embed.tawk.to/6246995f0bfe3f4a8770f317/1fvhse7mq';
        s1.charset='UTF-8';
        s1.setAttribute('crossorigin','*');
        s0.parentNode.insertBefore(s1,s0);
        })();
    </script>
    <!--End of Tawk.to Script-->

    <!-- ##### All Javascript Script ##### -->
    <!-- jQuery-2.2.4 js -->
    <script src="{% static 'content/site/js/jquery/jquery-2.2.4.min.js'%}"></script>
    <!-- Popper js -->
    <script src="{% static 'content/site/js/bootstrap/popper.min.js'%}"></script>
    <!-- Bootstrap js -->
    <script src="{% static 'content/site/js/bootstrap/bootstrap.min.js'%}"></script>
    <!-- All Plugins js -->
    <script src="{% static 'content/site/js/plugins/plugins.js'%}"></script>
    <!-- Active js -->
    <script src="{% static 'content/site/js/active.js'%}"></script>
</body>

</html>