{% extends 'globals/index.html' %}
{% block content %}
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Investments</h4>
                <div class="row">
                    <div class="col-md-8">
                        <h6 class="card-subtitle">This is a list of coins you've invested</h6>
                    </div>
                    <div class="col-md-4">
                        <a class="btn btn-primary float-right" href="{% url 'invest' %}" role="button">Invest your
                            coins</a>
                    </div>
                </div>
                <div class="table-responsive m-t-40">
                    <table id="myTable" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Reference #</th>
                                <th>Amount</th>
                                <th>Total Coins</th>
                                <th>Status</th>
                                <th>Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for investment in investments %}
                            <tr>
                                <td>{{investment.invstmt_ref}}</td>
                                <td>$ {{investment.amount}}</td>
                                <td><i class="cc {{coin_symbol}}"></i> {{investment.amount_in_usd}}</td>
                                <td>
                                    <button type="button" class="btn btn-info btn-xs m-b-10 m-l-5"
                                        disabled>{{investment.status}}</button>

                                </td>
                                <td>{{investment.date_created}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}